---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import GroupList from "../components/GroupList.astro";
import { fade } from "astro:transitions";

const groups = await getCollection("groups");
---

<MainLayout title="Groups">
  <div
    class="p-6 mb-7 text-slate-300 text-xl mx-6"
    transition:animate={fade({ duration: "0.4s" })}
  >
    <h1
      class="bg-gradient-to-r from-cyan-300 to-white text-transparent bg-clip-text text-4xl lg:text-5xl text-center border-b-2 border-solid border-[#ABA1A1] lg:mt-10 mb-20 pb-4"
    >
      Groups
    </h1>
    <GroupList groups={groups} />
  </div>
</MainLayout>
