---
import ImageHero from "../components/ImageHero.astro";
import CommunityHero from "../components/CommunityHero.astro";
import SponsorHero from "../components/SponsorHero.astro";
---

<div>
  <ImageHero />
  <CommunityHero />
  <SponsorHero />
</div>
