---
import { FaSlack } from "react-icons/fa";
import { FcCalendar } from "react-icons/fc";
---

<div
  class="hero min-h-screen w-full bg-cover bg-no-repeat bg-center"
  style="background-image: url('/images/odevs-meetup.jpg');"
>
  <div class="hero-overlay bg-opacity-55"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 font-bold text-[#011823] text-5xl lg:text-7xl">
        Welcome to Orlando Devs
      </h1>
      <p class="mb-5 text-[#011823] font-semibold text-xl lg:text-3xl">
        A community by developers for developers in the Greater Orlando area.
      </p>

      <div
        class="flex flex-col w-auto gap-y-3 justify-center content-center items-center lg:flex-row lg:gap-x-3 lg:h-80 lg:items-end"
      >
        <button class="btn btn-primary" onclick="location.href='/events'">
          <FcCalendar />
          Check out our Events!
        </button>
        <button class="btn btn-primary" onclick="location.href='/slack'">
          <FaSlack style={{ color: "salmon" }} />
          Join us on Slack!
        </button>
      </div>
    </div>
  </div>
</div>
