<div class="bg-[#011c28] py-6 px-6 text-center flex flex-col w-full">
  <h2
    class="my-14 bg-gradient-to-r from-cyan-300 to-white text-transparent bg-clip-text text-5xl tracking-tight text-center font-bold pb-2"
  >
    Our Community
  </h2>
  <div class="flex flex-wrap pt-6 pb-28">
    <div class="flex items-center justify-center w-full lg:w-1/2 lg:px-8">
      <img
        src="/images/odevs-meetup-2.jpg"
        alt="odevs"
        class="h-96 w-full flex-1 rounded-3xl object-cover"
      />
    </div>
    <div
      class="w-full lg:w-1/2 flex flex-col justify-between items-center lg:px-24"
    >
      <div class="flex justify-center">
        <p
          class="my-2 max-w-xl py-6 align-middle text-xl text-slate-200 lg:text-left"
        >
          Orlando Devs is an Orlando-area wide community focused on growing and
          supporting developers at all levels to build their careers in Central
          Florida. Through the running of regular networking events, training
          sessions, hackathons, and collaboration events, Orlando Devs works to
          support developers in skill development and community-building.
        </p>
      </div>
      <div>
        <a href="/about"
          ><button class="btn bg-[#2c9db1] text-white border-none"
            >Learn more about us!</button
          ></a
        >
      </div>
    </div>
  </div>
</div>
